* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  padding: 20px;
  font-family: "JetBrains Mono", monospace;
}

.App .code-editor {
  display: flex;
  min-height: 100vh;
}

.App .code-editor .code-fl {
  flex: 1 1;
}
.App .code-editor .code-js {
  flex: 1 1;
}

.App .btnTransfCode {
  display: flex;
  height: 100%;
  font-size: 40px;
  color: lightseagreen;
  margin: 0 20px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.App .btnTransfCode i {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App .btnTransfCode i:hover {
  cursor: pointer;
}

.App .header {
  height: 40px;
}

.App .fileImport {
  padding: 10px;
  background-color: #00d2d3;
  border-radius: 5px;
  color: #fff;
}
